
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 


:root {
  --bg-main: #f3f3f3;
  --bg-section: #ffffff;
  --bg-muted: #ededed;
  --text-main: #111;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-main);
  color: var(--text-main);
}



